@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,300&display=swap');
:root{
    --green-text: #00c771;
    --green-color:  rgb(154, 241, 180);
}

*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: tahoma;
    margin: 0px;
    padding: 0px;
    background-color: #f8f8f8;
}

#menu{
    height: 80px;
    margin-top: -85px;
    margin-left: 180px;
}
#menu ul li { 
    list-style: none;
    display: inline;
    margin: 10px;
    font-size: 23px;
}
a{
    font-size: 25px;
    text-decoration: none;
    color: var(--green-text);
}
a:hover{
    color: #545454;
}
#logo img{
    margin-left: 20px;
    height: 130px;
    width: 130px;
    border-radius: 100%;
}

#menu2{
    display: flex;
    height: 90px;
    width: 200px;
    margin-top: -75px;
    float: left;
    margin-left: 80%;
}
.fa-2x{
    color: var(--green-text);
    font-size: 23px;
    margin: 0px 30px;
}
.fa-2x:hover{
    color: #545454;
}

#menu2 .nav1{
    border-radius: 20px;
    width: 180px;
    height: 110px;
    margin: 30px;
    margin-left: -150px;
    list-style: none;
    text-align: center;
    background-color: white;
}
#menu2 ul li{
    text-align: center;
    margin-top: 10px;
}
#menu2 a{
    font-size: 20px;
}
.nav1{
    display: none;
    position: absolute;
}
#menu2 .nav1 li:hover{
    color: var(--green-text);
}

#menu2 .fa-phone:hover .nav1{
    display: block;
}

#menu2 .nav2{
    border-radius: 20px;
    width: 160px;
    height: 80px;
    margin-left: -120px;
    list-style: none;
    text-align: center;
    background-color: white;
    border: none;
    color: var(--green-text);
}

.nav2{
    display: none;
    position: absolute;
}

#menu2 .fa-user-pen:hover .nav2{
    display: block;
    margin-top: 30px;
}

#menu2 .nav2 li:hover{
    color: #545454;
}

button{
    border: none;
    font-size: 20px;
    margin: -5px;
    color: var(--green-text);
    background-color: white;
}

button:hover {
    color: #545454;
}
.sp_new img{
    margin-top: 20px;
    height: 250px;
    border-radius: 4px;
}
.sp_new{
    float: left;
    margin-left: 60px;
    margin-top: 40px;
    border: 1px solid lightgrey;
    height: 340px;
    width: 240px;
    border-radius: 4px;
    text-align: center;
    background-color: var(--green-color);
    box-shadow: 5px 5px 5px #545454;
    margin: 35px 35px;
}
.sp_new .text_ip{
    margin: 20px 10px;
}
.icon_small{
    margin-top: -18%;
    margin-left: 140px;
    display: none;
}

.icon_small i{
    color: rgb(249, 98, 98);
    font-size: 35px;
}

.sp_new:hover .icon_small{
    display: block;
}



.icon_small i:hover{
    color: #545454;
}

.data-run marquee{
    font-size: 23px;
    background-color: var(--green-color);
}



